@model IEnumerable<PersonalTools.Data.Entities.IdentityEntity>
@{
    ViewBag.Title = "Identities";
}
<div ng-controller="IdentityCtrl" ng-init="load()">
    <section>
        <h1 class="page-header">Identities</h1>
        <p class="text-muted">
            <button class="btn btn-primary" ng-click="insert()">添加</button>
        </p>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>名称</td>
                    <td>用户名</td>
                    <td>密码</td>
                    <td>交易密码</td>
                    <td>网站</td>
                    <td>备注</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="identity in identities">
                    <td>{{identity.ThirdPartyName}}</td>
                    <td>{{identity.LoginName}}</td>
                    <td>{{identity.Password}}</td>
                    <td>{{identity.TradePassword}}</td>
                    <td>{{identity.Website}}</td>
                    <td>{{identity.Comments}}</td>
                    <td class="text-center">
                        <button class="btn btn-primary btn-xs" ng-click="edit(identity)" title="修改"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button class="btn btn-danger btn-xs" ng-click="delete(identity)" title="删除"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<script type="text/ng-template" id="modalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{action == 'insert' ? '添加' : '修改'}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editForm">
            <div class="form-group">
                <label for="thirdPartyName" class="col-sm-2 control-label">App名称</label>
                <div class="col-sm-10">
                    <input class="form-control" name="thirdPartyName" id="thirdPartyName" ng-model="identity.ThirdPartyName" required hs-validate-result>
                </div>
            </div>
            <div class="form-group">
                <label for="loginName" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input class="form-control" name="loginName" id="loginName" ng-model="identity.LoginName" required hs-validate-result>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">登录密码</label>
                <div class="col-sm-10">
                    <input class="form-control" name="password" id="password" ng-model="identity.Password" required hs-validate-result>
                </div>
            </div>
            <div class="form-group">
                <label for="tradePassword" class="col-sm-2 control-label">交易密码</label>
                <div class="col-sm-10">
                    <input class="form-control" name="tradePassword" id="tradePassword" ng-model="identity.TradePassword">
                </div>
            </div>
            <div class="form-group">
                <label for="website" class="col-sm-2 control-label">网址</label>
                <div class="col-sm-10">
                    <input class="form-control" name="website" id="website" ng-model="identity.Website">
                </div>
            </div>
            <div class="form-group">
                <label for="comments" class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="comments" id="comments" ng-model="identity.Comments" rows="3"></textarea>
                </div>
            </div>
        </form>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" hs-button-submit="{form:'editForm', fn:'save()'}">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
@section scripts
{
    <script>
        var app = angular.module('ngApp', ['ui.bootstrap', 'hs.validate']);

        // Identity Ctrl
        app.controller('IdentityCtrl', function ($scope, $http, $modal) {

            // Load data
            $scope.load = function () {
                $scope.identities  = @Html.Raw(Json.Encode(Model));
            };

            // Show modal for inserting
            $scope.insert = function () {
                $scope.edit();
            };

            // Show modal for editting
            $scope.edit = function (identity) {
                var action;
                if(angular.isUndefined(identity)){
                    action = 'insert';
                }
                else{
                    action = 'edit';
                }

                // Open modal
                var modalInstance = $modal.open({
                    templateUrl: 'modalContent.html',
                    controller: 'IdentityEditCtrl',
                    resolve: {
                        identity: function () {
                            return angular.copy(identity);
                        },
                        action: function(){
                            return action;
                        }
                    }
                });

                // Update list after save data and close modal
                modalInstance.result.then(function (data) {
                    var identity = data.identity;
                    var action = data.action;

                    if(action == 'insert'){
                        // Insert new record into list
                        $scope.identities.push(identity);
                    }
                    else {
                        // Update the data in the list
                        angular.forEach($scope.identities, function(value, index) {
                            if (value.Id == identity.Id) {
                                $scope.identities[index] = identity;
                                return;
                            }
                        });
                    }
                });
            };

            // Delete Identity
            $scope.delete = function(identity){
                $http.post('/identity/delete', {Id: identity.Id}).
                    success(function (data) {
                    angular.forEach($scope.identities, function(value, index) {
                        if (value.Id == identity.Id) {
                            $scope.identities.splice(index, 1);
                            return;
                        }
                    });
                });
            };
        });

        // Indentity Edit Ctrl
        app.controller('IdentityEditCtrl', function ($scope, $http, $modalInstance, identity, action) {
            $scope.action = action;
            $scope.identity = identity;

            // Save Identity
            $scope.save = function () {
                $http.post('/identity/save', $scope.identity).
                    success(function (data) {
                        // Set identity id from response
                        $scope.identity.Id = data;

                        // Close modal and return the values.
                        $modalInstance.close({
                            identity: $scope.identity,
                            action: action
                        });
                    });
            };

            // Cancel
            $scope.cancel = function () {
                $modalInstance.dismiss();
            };
        });
    </script>
}